Chino_dataset/
Español_dataset/
Ingles_dataset/
Test_dataset/

nlp_chino/output_zh/
nlp_español/output_es/

nlp_español/train_corpus/
nlp_ingles/train_corpus/

__pycache__/
*.pyc

*.csv
*.zip
*.spacy

requirements.txt