pandas==3.0.0
numpy==2.2.6
scikit-learn==1.8.0
scipy==1.17.0
umap-learn==0.5.11
matplotlib==3.10.8
seaborn==0.13.2
spacy==3.8.11
spacy-transformers==1.3.9
ipykernel==7.2.0
ipywidgets>=8.0.0
es_dep_news_trf @ https://github.com/explosion/spacy-models/releases/download/es_dep_news_trf-3.8.0/es_dep_news_trf-3.8.0-py3-none-any.whl#sha256=afe76019ca75827db18f14f282f4678b1544277b29dcba8011b400837b19dcb4
zh_core_web_trf @ https://github.com/explosion/spacy-models/releases/download/zh_core_web_trf-3.8.0/zh_core_web_trf-3.8.0-py3-none-any.whl#sha256=5c177a1df422ec114b2e83da8b8906cd44890ef27300e9014349dc6efc908c0a